<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let component of component" [ngClass]="{'clearance':component.clearance}">
            <td><img [src]="component.image" [alt]="component.name"/></td>
            <td>{{component.name}}</td>
            <td>{{component.type}}</td>
            <td>{{component.price |currency}}</td>
            <td><span class="badge badge-danger" *ngIf="component.stock==0">Sin Stock</span></td>
        </tr>
       
    </tbody>
</table>